<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
  <body class="bg-light">
    <nav th:fragment="nav1">
      <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
          <a class="navbar-brand d-flex align-items-center">
            <strong><i class="fas fa-cut"></i> · Seam Carving Web App</strong>
          </a>
          <a th:href="@{/}"><button class="btn btn-outline-success my-2 my-sm-0">Home</button></a>
        </div>
      </div>
    </nav>


    <footer th:fragment="footer" class="container">
      <hr>
      <div class="row">
        <div class="col"><p>© Yuechun 2020</p></div>
        <div class="col text-right"><a href="mailto:yc.eleanor.wang@outlook.com"><i class="fas fa-envelope"></i>&nbsp;Contact</a>&nbsp;&nbsp;&nbsp;</div>
      </div>
    </footer>

  </body>
</html>
