<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8" />
    <title>Seam Carving</title>
    <link rel="shortcut icon" th:href="@{/favicon.ico}" type="image/x-icon" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css"
    />
    <link href="../static/lib/filer/css/jquery.filer.css" th:href="@{/lib/filer/css/jquery.filer.css}" type="text/css" rel="stylesheet" />
    <link href="../static/lib/filer/css/jquery.filer-dragdropbox-theme.css" th:href="@{/lib/filer/css/jquery.filer-dragdropbox-theme.css}" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/me.css}" />

  </head>
  <body class="bg-light">
    <nav th:replace="_fragment::nav1">
      <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
          <a class="navbar-brand d-flex align-items-center">
            <strong><i class="fas fa-cut"></i> · Seam Carving Web App</strong>
          </a>
          <button class="btn btn-outline-success my-2 my-sm-0" >Home</button>
        </div>
      </div>
    </nav>
    <div class="jumbotron m-steps">
      <div class="container">
        <h4 class="display-4">Step1 - Upload</h4>
        <hr>
        <p>Image format should be <strong>*.png or *.jpg</strong>. Please upload file up to <strong>1MB</strong>. Uploaded files will be deleted in 60 minutes!</p>
      </div>
    </div>

    <div class="container m-container shadow p-3 mb-5 bg-white rounded">
      <div class="container">
        <form  role="form" th:action="@{/upload}" method="post" enctype="multipart/form-data">
          <input type="file" name="pic" id="filer_input" required>
          <input id="submit-btn" class="btn btn-outline-success btn-sm" type="submit" value="Submit" disabled>
        </form>
      </div>

    </div>
    <footer th:replace="_fragment::footer" class="container">
      <hr>
      <div class="row">
        <div class="col"><p>© Yuechun 2020</p></div>
        <div class="col text-right"><a href="#"><i class="fas fa-envelope"></i>&nbsp;Contact</a>&nbsp;&nbsp;&nbsp;</div>
      </div>
    </footer>

  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/js/bootstrap.min.js"></script>
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <script src="../static/lib/filer/js/jquery.filer.min.js" th:src="@{/lib/filer/js/jquery.filer.min.js}"></script>
  <script th:inline="javascript">
    $(document).ready(function() {
      $('#filer_input').filer({
        limit: 1,
        maxSize: 1,
        extensions: ["jpg", "png"],
        showThumbs: true,
        addMore: false,
        onRemove: function(){
          $('#submit-btn').attr('disabled', 'disabled');
        },
        onEmpty: function(){
          $('#submit-btn').attr('disabled', 'disabled');
        },
        afterShow: function(){
          $('#submit-btn').removeAttr("disabled");
        },
        captions: {
          button: "Choose File",
          feedback: "Choose file To Upload",
          removeConfirmation: "Are you sure you want to remove this file?",
          errors: {
            filesLimit: "Only {{fi-limit}} files are allowed to be uploaded.",
            filesType: "Only Images are allowed to be uploaded.",
            filesSize: "{{fi-name}} is too large! Please upload file up to 1 MB.",
            folderUpload: "You are not allowed to upload folders."
          }
        }
      });
    });

  </script>
</html>
