<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8" />
  <title>500</title>
  <link
          rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css"
  />
  <link rel="stylesheet" type="text/css" th:href="@{/css/me.css}" />
</head>
<body class="bg-light">
<nav>
  <div class="navbar navbar-dark bg-dark box-shadow">
    <div class="container d-flex justify-content-between">
      <a class="navbar-brand d-flex align-items-center">
        <strong><i class="fas fa-cut"></i> · Seam Carving Web App</strong>
      </a>
    </div>
  </div>
</nav>
<div class="jumbotron">
  <div class="container">
    <h3 class="display-4">Seam Carving</h3>
    <hr>
    <h4>500 Internal Server Error</h4>
  </div>
</div>
<br>
<br>
<br>
</body>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/js/bootstrap.min.js"></script>
<script src="https://kit.fontawesome.com/a076d05399.js"></script>

</html>
